
.DS_Store

.DS_Store

.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.projects/DesktopTAMAS/.indexes/5a/be/e0/d2/9c/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/DesktopTAMAS/.markers

.metadata/.plugins/org.eclipse.core.resources/.projects/DesktopTAMAS/.markers.snap

*.snap

*.dat

*.snap

*.index

*.version

*.tree

*.prefs

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.txt

*.dat

*.xml

*.ini
